.UploadingWrapper{
    width:40%;
    border:1px solid #435C70;
    padding:24px 48px ;
    background-color: #435C70;
    box-sizing: border-box;
    box-shadow: 2px 4px 3px #435C70;
}
.Heading{
    color:#fff;
    font-size:20px;
    font-weight: 600;
}
.Avatar{
    margin-top:24px;
}
.DeleteIcon{
    width:50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #625F64   
    ;
    border:1px solid #435C70;
    color:#fff;
    font-size:18px;
    position:relative;
    top:-150px;
    left:150px;    
}
.UploadButton{
    width:100%;
    margin-top: 24px;
    background-color: #F5A623;
    height:50px;
    border:none;
    outline:none;
    color:#fff;
    font-size:14px;
    font-weight:600;
    text-transform: uppercase;
}
.UploadButton:hover{
    border:2px solid  #F5A623;
    background-color: #435C70;
    color: #F5A623;
}